.row {
    margin-left: 5%;
    margin-right: 5%;
}

.footer-container {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 5%;
}

#exp-title {
    margin-top: 3%;
}

#rp-title {
    margin-top: 3%;
}

#fpi-title {
    margin-top: 3%;
}

#personal-top {
    margin-top: 3%;
}

a {
    color: black;
}

.nav-link {
    color: black;
}
