<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Experience</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="header-container">
        <header class="d-flex justify-content-center py-3">
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="/experience" class="nav-link">Experience</a></li>
            <li class="nav-item"><a href="/projects" class="nav-link">Projects</a></li>
            <li class="nav-item"><a href="/personal" class="nav-link">Personal</a></li>
            <li class="nav-item"><a href="/resume" class="nav-link">Resume</a></li>
          </ul>
        </header>
    </div>
    <hr />
    <div class="d-flex justify-content-center" id="exp-title">
  <h1>Experience</h1>
</div>
<!--- Experience 1 -->
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <a href="https://outlier.ai/">
        <img src="/static/assets/outlier-logo.png" width="200">
      </a>
      <h1 class="text-body-emphasis">AI Trainer</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        May 2024 - Present<br/><br/>
        Improved AI model performance and accuracy by providing feedback as part of the reinforcement learning process
      </p>
    </div>
</div>
<!--- Experience 2 -->
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <a href="https://www.ajamrecords.com/">
        <img src="/static/assets/ajam-logo.png" width="200">
      </a>
      <h1 class="text-body-emphasis">Artist-Focused Tech, AI & VR Intern</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        January - May 2024<br/><br/>
        Researched innovative technologies to develop tech-based solutions for the label and its artists<br/><br/>
        Devised an artist hub - an integrated workflow for artists to communicate with their manager, share their music to collaborate with other artists signed with the label, along with resources to aid wellness and creativity
      </p>
    </div>
</div>
<!-- Can include technical skills section (languages, frameworks etc. + level of proficiency) -->
    <hr />
    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
        <p class="col-md-4 mb-0 text-body-secondary">Contact Me</p>
        <p class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          Raghav Mathur - Undergraduate at Northeastern
        </p>
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">raghavm0304@gmail.com</a></li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/rraghav-mathurr/" class="nav-link px-2 text-body-secondary">
              LinkedIn
            </a>
          </li>
        </ul>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>