{% extends 'base.html' %}
{% block title %}Experience{% endblock %}

{% block content %}
<div class="d-flex justify-content-center" id="exp-title">
  <h1>Experience</h1>
</div>
<!--- Experience 1 -->
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <img src="/static/assets/outlier-logo.png" width="200">
      <h1 class="text-body-emphasis">AI Trainer at Outlier</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Trained AI models by evaluating and ranking AI-generated responses
      </p>
    </div>
</div>
<!--- Experience 2 -->
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <img src="/static/assets/ajam-logo.png" width="200">
      <h1 class="text-body-emphasis">Artist-Focused Tech, AI & VR Intern at A Jam Records</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        Researched innovative technologies and collaborated with peers to recommend tech-based solutions for the label and its artists
      </p>
    </div>
</div>
<!-- Can include technical skills section (languages, frameworks etc. + level of proficiency) -->
{% endblock %}