{% extends 'base.html' %}
{% block title %}Experience{% endblock %}

{% block content %}
<div class="d-flex justify-content-center" id="exp-title">
  <h1>Experience</h1>
</div>
<!--- Experience 1 -->
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <a href="https://outlier.ai/">
        <img src="/static/assets/outlier-logo.png" width="200">
      </a>
      <h1 class="text-body-emphasis">AI Trainer</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        May 2024 - Present<br/><br/>
        Improved AI model performance and accuracy by providing feedback as part of the reinforcement learning process
      </p>
    </div>
</div>
<!--- Experience 2 -->
<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <a href="https://www.ajamrecords.com/">
        <img src="/static/assets/ajam-logo.png" width="200">
      </a>
      <h1 class="text-body-emphasis">Artist-Focused Tech, AI & VR Intern</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        January - May 2024<br/><br/>
        Researched innovative technologies to develop tech-based solutions for the label and its artists<br/><br/>
        Devised an artist hub - an integrated workflow for artists to communicate with their manager, share their music to collaborate with other artists signed with the label, along with resources to aid wellness and creativity
      </p>
    </div>
</div>
<!-- Can include technical skills section (languages, frameworks etc. + level of proficiency) -->
{% endblock %}