{% extends 'base.html' %}
{% block title %}Raghav Mathur{% endblock %}

{% block content %}
<!--  Elevator Pitch  -->
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/static/assets/professional-pfp.jpg" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Hi, I'm Raghav Mathur</h1>
        <p class="lead">
            I'm a junior at Northeastern University studying Computer Science with a concentration in AI and a minor in Robotics<br />
            I'm interested in real-world applications of machine learning, software development, tech in music, and robots
        </p>
      </div>
    </div>
</div>
<!--  Resume  -->
<div class="d-flex justify-content-center">
    <a href="{{ url_for('resume') }}">
      <button type="button" class="btn btn-primary">Resume</button>
    </a>
</div>
<br />
<div class="d-flex justify-content-center">
    <a href="https://www.linkedin.com/in/rraghav-mathurr/">
      <button class="btn btn-primary" type="button" style="margin-right: 3px;">LinkedIn</button>
    </a>
    <a href="https://github.com/rrrraghav">
      <button class="btn btn-primary" type="button">GitHub</button>
    </a>
</div>
{% endblock %}
