{% extends 'base.html' %}
{% block title %}Personal{% endblock %}

{% block content %}
<div class="row featurette" id="personal-row">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">About Me</h2>
      <p class="lead">
        <br />
        I was born in New Delhi, India. By the time I was 13 years old, I had also lived in Bangalore, Tokyo, and New Jersey.
        <br /><br />
        Because of my unique upbringing, I have learned about and experienced vastly different cultures and perspectives. As a result, I often find myself assessing problems and designing solutions after considering multiple diverse inputs.
      </p>
    </div>
    <div class="col-md-5">
        <img src="/static/assets/Boat.JPG" width="500" height="400">
    </div>
  </div>
  <div class="row featurette" id="personal-row">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">My Interests</h2>
      <p class="lead">
        <br />
        I have been playing the guitar for over a decade now, and can also produce <b>music</b> and play the piano. I have performed in front of large and small audiences, and some of my best memories are from these shows. Currently, I am on the e-board for Northeastern’s Indian music club, NU Aaroh, as the Planning and Scheduling Coordinator, where I’m responsible for organizing spaces for events and practices. <br /><br />
        I also love <b>experiencing new places</b>. I spent my freshman year of college in Oakland, California, and also explored the San Francisco Bay Area and Los Angeles. While traveling, I really enjoy taking pictures and talking to and learning from new people. <br /><br />
        I was captain of the cross country team at my high school, and the habit of <b>working out</b> has been instilled in me since then. I enjoy being active, whether that's through running, going to the gym, playing cricket with friends, or going rock climbing. 
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/static/assets/guitar.jpg" width="425">
    </div>
  </div>
{% endblock %}