{% extends 'base.html' %}
{% block title %}Personal{% endblock %}

{% block content %}
<div class="row featurette" id="personal-row">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">About Me</h2>
      <p class="lead">
        <br />
        I was born in New Delhi. By the time I was 13 years old, I had also lived in Tokyo for a year in 2010 and in Bangalore for a few years. When I was 13, my family moved to New Jersey, where we have been since then.
        <br /><br />
        Because of my unique childhood, I have learned about and experienced vastly different cultures and perspectives. As a result, I often find myself approaching problems from multiple different angles and trying different methods. I can also understand the reasoning behind other peoples' decisions.
      </p>
    </div>
    <div class="col-md-5">
        <img src="/static/assets/Boat.JPG" width="500" height="400">
    </div>
  </div>
  <div class="row featurette" id="personal-row">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">My Interests</h2>
      <p class="lead">
        <br />
        I have been playing the guitar for over a decade now, and can also produce <b>music</b> and play the piano. I have performed in front of large and small audiences, and some of my best memories are from shows. Currently, I play guitar and am on the e-board for NU Aaroh as the Planning and Scheduling Coordinator, a music club at Northeastern. My role as PSC is to handle all logistical details such as where equipment is stored and book spaces for events and practices. <br /><br />
        I also love <b>exploring new places</b>, both near and far away. Recently, I spent a year in Oakland, California as a global experience through Northeastern. During that year, I explored portions of the San Francisco Bay Area and LA. While traveling, I really enjoy taking pictures and talking to and learning from new people. <br /><br />
        I was captain of the cross country team at my high school, and the habit of <b>working out</b> that was instilled in me from that has still not left me. I enjoy being active, whether that's through running, working out at the gym, playing cricket with friends, or going rock climbing. 
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/static/assets/guitar.jpg" width="425">
    </div>
  </div>
{% endblock %}